<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuolang.main">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.RegisterActivity"></activity>
        <activity android:name=".ui.activity.MainActivity"></activity>
        <activity android:name=".ui.activity.ShowDotInfoActivity"></activity>
        <activity android:name=".ui.activity.DoctorListActivity"></activity>
        <activity android:name=".ui.activity.AppointActivity"></activity>
        <activity android:name=".ui.activity.MyAppointActivity"></activity>
        <activity android:name=".ui.activity.MyConsultActivity"></activity>
        <activity android:name=".ui.activity.DoctorDetail"></activity>
        <activity android:name=".ui.activity.AppointInfoActivity"></activity>
        <activity android:name=".ui.activity.AppointSuccessActivity"></activity>
        <activity android:name=".ui.activity.ConnectFailure"></activity>
        <activity android:name=".ui.activity.UpdatePswActivity"></activity>
        <activity android:name=".ui.activity.SettingActivity"></activity>
        <activity android:name=".ui.activity.UpdateDotInfoActivity"></activity>

        <service android:name=".service.FindUserService"></service>

    </application>

</manifest>
